---
import { getCollection } from "astro:content";
import A from "../components/A.astro";
import Heading from "../components/Heading.astro";
import RssFeed from "../components/RssFeed.astro";
import allLinks from "../content/links";
import Rss from "../icons/Rss.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const recentPosts = (await getCollection("blog")).slice(0, 3);
const links = allLinks.filter((link) => link.text !== "Home");
---

<BaseLayout
	title="👋 I'm Carter."
	class="grid place-content-center items-center"
	showHeaderSubtitle
	noHeaderBackground
>
	<Fragment slot="head">
		<meta property="og:title" content="👋 I'm Carter." />
		<meta property="og:type" content="website" />
		<meta
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
		<meta
			property="og:description"
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
	</Fragment>
	<main>
		<section>
			<Heading level={2}>Links</Heading>
			<ul>
				<ul class="flex gap-4 flex-wrap">
					{
						links.map((link) => (
							<li>
								<A {...link.attrs}>{link.text}</A>
							</li>
						))
					}
				</ul>
			</ul>
		</section>
		<section class="mt-4">
			<Heading level={2}>Recent thoughts</Heading>
			<RssFeed
				class="overflow-y-auto max-h-64"
				url="https://mastodon.social/@literallyacar.rss"
				count={2}
			/>
		</section>
		{
			recentPosts.length > 0 && (
				<section class="mt-4">
					<Heading level={2}>
						Recent blog posts{" "}
						<A href="/blog/feed.xml" underline={false}>
							<Rss label="RSS feed" class="inline" />
						</A>
					</Heading>
					<ul class="flex flex-col gap-2 overflow-y-auto *:text-sm">
						{recentPosts.map((post) => (
							<li>
								<A href={`/blog/${post.slug}/`} underline={false}>
									<p class="underline text-base">{post.data.title}</p>
									<p>
										<time
											datetime={post.data.pubDate.toString()}
											is="formatted-date"
										/>
									</p>
									<p>{post.data.description}</p>
								</A>
							</li>
						))}
					</ul>
				</section>
			)
		}
	</main>
</BaseLayout>
