---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WavingHand from "../components/icons/WavingHand.astro";
import Rss from "../components/icons/Rss.astro";
import A from "../components/A.astro";
import Heading from "../components/Heading.astro";
const allPosts = await getCollection("blog");
---

<BaseLayout
	title="👋 I'm Carter."
	class="grid place-content-center items-center"
>
	<Fragment slot="head">
		<meta property="og:title" content="👋 I'm Carter." />
		<meta property="og:type" content="website" />
		<meta
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
		<meta
			property="og:description"
			name="description"
			content="Front-end dev. Father. Young grump. Simple things enjoyer."
		/>
	</Fragment>
	<header>
		<hgroup>
			<Heading level={1}>
				<WavingHand label="Hello" />
				I'm Carter.
			</Heading>
			<p>Front-end dev. Father. Young grump. Simple things enjoyer.</p>
		</hgroup>
		<nav>
			<ul class="flex gap-4 flex-wrap">
				<li>
					<A
						href="https://github.com/carterworks"
						title="GitHub"
						aria-label="GitHub"
					>
						GitHub
					</A>
				</li>
				<li>
					<A
						href="https://www.linkedin.com/in/thatcartermcbride/"
						title="LinkedIn"
						aria-label="LinkedIn"
					>
						LinkedIn
					</A>
				</li>
			</ul>
		</nav>
	</header>
	{
		allPosts.length > 0 && (
			<main class="mt-4">
				<Heading level={2}>
					Blog posts{" "}
					<A href="/blog/feed.xml" underline={false}>
						<Rss label="RSS feed" class="align-middle" />
					</A>
				</Heading>
				<ul class="flex flex-col gap-2 max-h-[55vh] overflow-y-auto *:text-sm">
					{allPosts.map((post) => (
						<li>
							<A href={`/blog/${post.slug}/`} underline={false}>
								<p class="underline text-base">{post.data.title}</p>
								<p>
									<time
										datetime={post.data.pubDate.toString()}
										is="formatted-date"
									/>
								</p>
								<p>{post.data.description}</p>
							</A>
						</li>
					))}
				</ul>
			</main>
		)
	}
</BaseLayout>
