---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
interface Props {
	title: string;
	class?: string;
	showHeaderSubtitle?: boolean;
	showHeaderLinks?: boolean;
	noHeaderBackground?: boolean;
}
const {
	title,
	class: classContent = "",
	showHeaderSubtitle = false,
	showHeaderLinks = false,
	noHeaderBackground = false,
} = Astro.props;
const { url } = Astro;
---

<html lang="en" class="md:text-[20px] text-[16px]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#fdf6e3" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="canonical" href={url} />
		<meta property="og:url" content={url} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="Carter McBride" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			href={new URL("/blog/feed.xml", Astro.site)}
		/>
		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />

		<slot name="head" />

		<title>{title}</title>
		<script>
			/**
			 * @param { Date } date
			 * @returns { number }
			 */
			class FormattedDate extends HTMLTimeElement {
				constructor() {
					super();
					const attribute = this.getAttribute("datetime");
					if (!attribute) {
						return;
					}
					const date = new Date(attribute);
					const utcDate = new Date(
						date.getTime() + date.getTimezoneOffset() * 60000
					);
					this.textContent = utcDate.toLocaleDateString("en-us", {
						year: "numeric",
						month: "short",
						day: "numeric",
					});
				}
			}
			customElements.define("formatted-date", FormattedDate, {
				extends: "time",
			});
		</script>
	</head>

	<body
		class="text-base font-classical-humanist bg-noise bg-sepia dark:bg-blackish bg-[size:30%] p-4 h-[100dvh] text-blackish dark:text-sepia"
	>
		<div
			class:list={[
				"border-4",
				"border-blackish",
				"dark:border-sepia",
				"h-full",
				"w-full",
				"rounded-xl",
				"overflow-auto",
				"p-4 pt-0",
				"*:max-w-[55ch]",
				...classContent.split(/\s+/g),
			]}
		>
			<Header
				showLinks={showHeaderLinks}
				showSubtitle={showHeaderSubtitle}
				noHeaderBackground={noHeaderBackground}
			/>
			<slot />
		</div>
	</body>
</html>
