---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const humanFriendlyDate = new Date(frontmatter.pubDate).toLocaleDateString(
	"en-US",
	{
		year: "numeric",
		month: "long",
		day: "numeric",
	}
);
---

<style>
	body {
		display: block;
	}
	:global(.content-wrapper) > * {
		margin-inline: auto;
		max-width: 55ch;
	}
	nav {
		svg {
			vertical-align: sub;
		}
		svg + span {
			margin-inline-start: 0.1rem;
			font-size: 0.8rem;
		}
	}
	article {
		height: 100%;
		header {
			> *:not(h1) {
				font-size: 0.75em;
			}
			:last-child {
				font-style: italic;
			}
		}
		> * {
			margin-block-start: var(--padding-width);
		}
		pre {
			font-size: 0.75em;
		}
		> p:has(img) {
			img {
				margin-inline: auto;
			}
			em {
				font-size: 0.85rem;
				padding-inline: 1rem;
				margin-block-start: 0.25rem;
				margin-inline: auto;
				display: block;
				width: fit-content;
			}
		}
	}
</style>
<BaseLayout title={`${frontmatter.title} | carter.works`}>
	<Fragment slot="head">
		<meta property="og:title" content={frontmatter.title} />
		<meta property="og:type" content="article" />
		<meta property="og:description" content={frontmatter.description} />
		<meta name="description" content={frontmatter.description} />
		<meta property="og:article:published_time" content={frontmatter.pubDate} />
		<meta property="og:article:author" content="Carter McBride" />
		<meta property="og:article:tag" content={frontmatter.tags.join(", ")} />
	</Fragment>
	<nav>
		<a href="/"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-chevron-left"
				><polyline points="15 18 9 12 15 6"></polyline></svg
			>
			<span>Home</span>
		</a>
	</nav>
	<article>
		<header>
			<h1>{frontmatter.title}</h1>
			<time datetime={frontmatter.pubDate}>{humanFriendlyDate}</time>
			<p>
				{frontmatter.description}
			</p>
		</header>
		<slot />
	</article>
</BaseLayout>
