---
import A from "../components/A.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
import BackChevron from "../components/icons/BackChevron.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const humanFriendlyDate = new Date(frontmatter.pubDate).toLocaleDateString(
	"en-US",
	{
		year: "numeric",
		month: "long",
		day: "numeric",
	}
);
---

<BaseLayout title={`${frontmatter.title} | carter.works`} class="*:mx-auto">
	<Fragment slot="head">
		<meta property="og:title" content={frontmatter.title} />
		<meta property="og:type" content="article" />
		<meta property="og:description" content={frontmatter.description} />
		<meta name="description" content={frontmatter.description} />
		<meta property="og:article:published_time" content={frontmatter.pubDate} />
		<meta property="og:article:author" content="Carter McBride" />
		<meta property="og:article:tag" content={frontmatter.tags.join(", ")} />
	</Fragment>
	<nav class="mb-4">
		<A underline={false} href="/">
			<BackChevron label="Back" />
			<span class="underline">Home</span>
		</A>
	</nav>
	<article>
		<header class="text-sm mb-4">
			<Heading level={1}>{frontmatter.title}</Heading>
			<time datetime={frontmatter.pubDate}>{humanFriendlyDate}</time>
			{
				frontmatter.tags.length > 0 && (
					<ul class="">
						{frontmatter.tags.map((tag: string) => (
							<li class="inline-block mr-2">#{tag}</li>
						))}
					</ul>
				)
			}
			<p class="mt-4 text-base italic">
				{frontmatter.description}
			</p>
		</header>
		<Prose>
			<slot />
		</Prose>
	</article>
</BaseLayout>
